@media  screen and (max-width:576px) {
   nav{
    flex-direction: column;
   }
   nav ul{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: #E02C6D;
    padding:30px;
    text-align: center;
    border-radius: 8px;
   }
   nav ul li{
    margin: 0 auto;
   }
    .navbar-brand{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-icon{
        display: flex;
        font-size: 1.5rem; 
    }

    .start-journey{
        flex-direction: column-reverse;
    }
    .journey-content{  
        text-align: center;
    }
    .journey-img img{
        width: 80%;
        margin-left: 10%;
    }
    .sponsor-company{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
        
    }
    .collection-items{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .feature-product{
        flex-direction: column;
        width: 100%;
    }
    .feature-product .img-section{
        width: 98%;
    }
.feature-product  .text-content{
    width: calc(100% - 20px);
    margin: 20px;
    text-align: center;

}
}

@media screen and (min-width:576px) and (max-width:992px) {
    .sponsor-company{
       grid-template-columns: repeat(4, 1fr);
    }
    .collection-items{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .journey-img img{
        width: 100%;
        
    }
}