@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.btn-primary{
    color:white;
    background-color: #E02C6D;
    border: none;
}
.btn-primary:hover{
    background-color: rgba(1, 11, 68, 0.921);
    color:#fff;
}
.nav-icon {
    display: none;
}

nav{
   display: flex;
   justify-content: space-between;
   margin:1% 5%;
}
.navbar-brand{
    font-size: 1.50rem;
    font-weight: bold;
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 10px; 
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}
nav ul li a:hover{
    background-color: #E02C6D;
    color: #fff;
}
/* journey related  */
.start-journey{
    width: 80%;
    display: flex;
    margin: 100px auto;
    align-items: center;
}
.journey-content{
    flex: 1;
}
.start-journey .journey-content h1{
    font-size: 2.8rem;
    font-weight: bold;
   
}
.start-journey .journey-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
   
}
.prebook-btn{
    border-radius: 35px;
    font-size: 1rem;
    padding: 10px 40px;
}
.prebook-btn i{
    margin-left: 10px;
}

.journey-img {
    flex: 1; 
    background-image: url("../images/Circle-design.svg"); 
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.journey-img img{
    width: 75%;
    margin-left: 20%;
}

/* sponsors company related styles */
.sponsor-company{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 50px auto;
}

/* popular collection style */
.popular-collection{
    width: 80%;
    margin: 50px auto;
}
.popular-collection > h1{
    text-align: center;
    margin:20px;
    font-size: 1.8rem;
    font-weight: 500;
}

.collection-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.collection-item img{
    border-radius: 18px;
    width: 100%;
}
.collection-item h1{
    font-size: 1.7rem;
    font-weight: 400;
}
.collection-item h3{
    font-size: 1.4rem;
    font-weight: 300;
}
.collection-item p{
    margin:8px 0;
}

/* featured product related styles */

.feature-product{
    display: flex;
    width: 80%;
    align-items: center;
    margin:0 auto; 
}

.feature-product .img-section{
    width: 40%;
}
.feature-product .img-section img{
    width: 100%;
}
.feature-product  .text-content{
    width: calc(50% - 50px);
    margin-left:50px;
}
.text-content h1{
    font-size: 2rem;
    font-weight: bold;
}
.text-content p{
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 400;
}
.text-content button  {
    padding: 10px 15px;
    margin: 10px 0;
}
/* footer related styels */
.footer{
    text-align: center;
    color: white;
    background: rgba(1, 11, 68, 0.921);
    padding: 60px 0;
}
.footer h1{
    font-weight: 700;
}

.footer p{
    font-weight: 300;
    margin: 3px;
}
.footer i{
    margin: 25px;
}