@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.btn-primary{
    color:white;
    background-color: #E02C6D;
    border: none;
}
.navbar-brand i{
    display: none;
}

nav{
   display: flex;
   justify-content: space-between;
   margin:1% 5%;
}
.navbar-brand{
    font-size: 1.50rem;
    font-weight: bold;
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 10px; 
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    /* padding: 10px; */
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.start-journey{
    width: 90%;
    display: flex;
    margin: 50px auto;
    align-items: center;
}
.journey-content{
    flex: 1;
}
.start-journey .journey-content h1{
    font-size: 2.8rem;
    font-weight: bold;
   
}
.start-journey .journey-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
   
}
.prebook-btn{
    border-radius: 35px;
    font-size: 1rem;
    padding: 10px 40px;
}
.prebook-btn i{
    margin-left: 10px;
}

.journey-img {
    flex: 1; 
    background-image: url(../images/Circle\ design.svg); 
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.journey-img img{
    width: 75%;
    margin-left: 10%;
}

/* sponsors company related styles */
.sponsor-company{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 50px auto;
}